{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "log": true,
    "window": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true,
        "allowAfterSuper": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "array-callback-return": "warn",
    "react/prop-types": [
      2,
      {
        "skipUndeclared": true
      }
    ]
  }
}